/* css file for the categories component */

div.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    color: #ffffff;
    background-color: #282828;
    padding: 50px;
}

ul {
    list-style: circle;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
    display: block;
    width: 100%;
}

li {
    margin: 10px;
}